/* Adding inter font */
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

.inter-normal {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
  }


  @import url('https://fonts.cdnfonts.com/css/miama');

.miama-normal{
    font-family: 'Miama', sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-size: 4.9rem;
    font-weight: 400;
}
/* Shared style */

body{
    margin: 0;
}

body{ 
    background-color: black;
  }

.header{
    background: linear-gradient(180.00deg, rgb(17, 17, 17),rgba(119, 119, 119, 0) 100%);
    /* max-width: 1060px;
    margin: 0 auto; */
    /* min-height: 1300px; */
    border: 5px solid white;

}

.title{
    font-size: 3rem;
    font-weight: 900;
    color: rgb(255, 255, 255);
    margin-bottom: 1rem;
}

.description{
    font-size: 0.875rem;
    font-weight: 400;
    color: rgba(255, 255, 255, 0.5);
}


/* navigation baar */
.navbar{
    display: flex; 
    justify-content: space-between;
    align-items: center;
    max-width: 1060px;
    margin: 0 auto;
    
}

.brand{
    font-size: 2.25rem;
    font-weight: 800;
    color: rgb(230, 83, 60);
}

.nav-links{
    display: flex;
    gap: 48px;
    /* justify-content:flex-start; */
    align-items: center;
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 39px;
    padding: 4px;
}
.nav-items{
    list-style: none;
}
.nav-items a{
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-size: 1.2rem;
}
.nav-btn{
    background-color: rgb(230, 83, 60);
    border-radius: 46px;
    border: none;
    padding:10px 20px;

    color: rgb(255, 255, 255);
    font-size: 1.2rem;
    font-family: inter;

}
#about{
    margin-right: 1.25rem;
}

main{
    background: black;
}

/* banner section */
.banner{
    display: flex;
    justify-content: space-between;
    max-width: 1060px;
    /* max-height: 715px; */
    min-height: 580px;
    margin: 0 auto;
}

.banner-title{
    /* display: block; */
    color: rgb(255, 255, 255);
    font-size: 78px;
    font-weight: 900;
    line-height: 4.5rem;
    max-height: 280px;
    margin-bottom: 1.8rem;
}
.banner-description{
    max-width: 520px;
    margin-bottom: 4.75rem;
}
.title-description{
    color: rgba(255, 255, 255, 0.5);
    font-size: 16px;
    font-weight: 400;
    margin-bottom: 1.75rem;
}

.primary-btn{
    background-color: rgb(230, 83, 60);
    border: none;
    border-radius: 42px;
    color: white;
    font-size: 1.2rem;
    font-weight: 600;
    padding: 16px 40px;
}

.transparent-btn{
    border: 1px solid rgb(255, 255, 255);
    border-radius: 42px;
    background: transparent;
    color: white;
    font-size: 1.2rem;
    font-weight: 600;
    padding: 16px 40px;
    margin-left: 1rem;
}

/* badge */

/* .image{
    position: relative;
} */
.badge{
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 206px;
    overflow: visible;
    /* position: relative; */
    gap: 10px;
    /* padding: 20px 23px; */
    /* border: 1px solid rgba(255, 255, 255, 0.1); */
    border-radius: 12px;
    backdrop-filter: blur(20px);
    background: rgba(48, 48, 48, 0.54);
    padding: 5px 20px;
}
.shape{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: rgb(230, 83, 60);
}

.badge1{
    color: rgb(250, 250, 249);
    font-size: 1.5rem;
    font-weight: 900;
}



.badge-1{
    margin-top: -10rem;
    margin-left: -7rem;
}

.badge2{
    color: rgb(255, 255, 255);
    font-size: 40px;
    font-weight: 900;
}
.badge-2{

    margin-left: 14rem;
    margin-top: -22rem;
}

/* habit section */
/* .habit{
    display: block;
} */

.habit-images h3{
    font-size: 1.1rem;
    font-weight: 600;
    color: rgb(255, 255, 255);
}
.habit{
    text-align: center;
    max-width: 1044px;
    margin: 0 auto;
    margin-bottom: 6rem;
    margin-top: 10rem;
}
.habit-images-container{
    display: flex;
}
.habit-images img{
    border-radius: 50%;
    border:5px solid rgb(33, 32, 32) ;
}
.habit-text{
    max-width: 640px;
    margin: 0 auto;
    margin-top: 6.5rem;
}
.habit-text p{
    margin-top: 50px;
    margin-bottom: 3.5rem;
}

.run{
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1060px;
    margin: 0 auto;
    border-radius: 18px;
    background: rgb(34, 34, 34);
    
    padding: 0 40px;
    margin-bottom: 6.25rem;
}
.run-image{
    /* max-height: 312px; */
    /* max-width: 366px; */
    width: 366px;
    height: 312px;
    /* object-position: 100px; */
    border-radius: 18px;
    background-image: url(../images/run.jpg);
    background-size:cover;
    background-position: center;
    object-fit: fill;
}

.run-text{
    max-width: 445px;
    margin-bottom: 2.5rem;
}

.run-desc{
    margin-top: 1rem;
    margin-bottom: 2rem;
}

/* BMI part */
.bmi-title{
    margin-left: 25%;
    margin-bottom: 5.5rem;
}

.container{
    background: rgb(34, 34, 34);
    margin-bottom: 5.5rem;
}

.content{
    display: flex;
    justify-content: space-between;
    max-width: 1060px;
    margin: 0 auto;
}

/* team section */

.team{
    max-width: 1060px;
    margin: 0 auto;
    text-align: center;
}

.box{
    height: 272px;
    width:calc(100% - 80px )/3;
    border-radius: 18px;
    background-color: aqua;
    text-align: start;
    padding: 20px;
    
}
.box p{
    vertical-align: bottom;
}
.team-image-container{
    border-radius: 18px;
    background: rgba(255, 255, 255, 0.1);
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 20px;
    padding: 20px;
    margin-bottom: 5.5rem;
}

.trainer-name{
    font-size: 1rem;
    font-weight: 700;
    color: rgb(255, 255, 255);
}


.image-box-1{
    border-radius: 18px;
    background-color: rgba(0, 0, 0, 0.3);
    background-image: url(../images/trainer1.png);
    background-blend-mode: overlay;
    /* size: 100%; */
    background-size:cover;
    background-repeat: no-repeat;
    background-position: center;
    object-fit: fill;
    
}

.image-box-2{
    border-radius: 18px;
    background-color: rgba(0, 0, 0, 0.3);
    background-image: url(../images/trainer2.png);
    background-blend-mode: overlay;
    size: 100%;
    background-size:cover;
    background-repeat: no-repeat;
    background-position: center;
    object-fit: fill;
    
}

.image-box-3{
    border-radius: 18px;
    background-color: rgba(0, 0, 0, 0.3);
    background-image: url(../images/trainer3.png);
    background-blend-mode: overlay;
    size: 100%;
    background-size:cover;
    background-repeat: no-repeat;
    background-position:top;
    object-fit: fill;
    
}

.image-box-4{
    border-radius: 18px;
    background-color: rgba(0, 0, 0, 0.3);
    background-image: url(../images/trainer4.png);
    background-blend-mode: overlay;
    size: 100%;
    background-size:cover;
    background-repeat: no-repeat;
    background-position: top;
    object-fit: fill;
    
}

.image-box-5{
    border-radius: 18px;
    background-color: rgba(0, 0, 0, 0.3);
    background-image: url(../images/trainer5.png);
    background-blend-mode: overlay;
    size: 100%;
    background-size:cover;
    background-repeat: no-repeat;
    background-position: center;
    object-fit: fill;
    
}

.image-box-6{
    border-radius: 18px;
    background-color: rgba(0, 0, 0, 0.3);
    background-image: url(../images/trainer6.png);
    background-blend-mode: overlay;
    size: 100%;
    background-size:cover;
    background-repeat: no-repeat;
    background-position: center;
    object-fit: fill;
    
}

/* foooter section */
.footer{
    background-color:rgba(255, 255, 255, 0.1);
    min-height: 490px;
}
.logo{
    font-size: 4.5rem;
    font-weight: 800;
    color: rgb(230, 83, 60);
    font-style: italic;
    /* margin-top: 100px; */
}

.text-container{
    max-width: 1060px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    gap: 100px;
    padding: 40px;
}

.get-started a{
    font-size: 23px;
    text-decoration: none;
    margin-bottom: 10px;
}

.title2{
    font-size: 2rem;
    font-weight: 700;
    color: rgb(255, 255, 255);
}
.about{
    max-width:443px ;
}
.get-started{
    min-height: 200px;
}

.copyright{
    font-size: 20px;
    font-weight: 400;
    color: rgba(255, 255, 255, 0.5);
    text-align: center;
    margin-top: 50px;
    /* margin-bottom: 40px; */
}